body html {
  width: 100%;
  height: 100%;
  margin: 0;
}

/*-------------------Game-Title----*/
.game-title {
  width: 100%;
  height: 10vh;
  text-align: center;
  font-size: x-large;
  margin-top: 2vh;
}

/*-------------------Game-Container----*/
.outer {
  position: relative;
  height: 80vh;
  margin: auto;
  background-color: grey;
  border: 1px solid black;
  overflow: hidden;
}

/*-----------------Control-Buttons----*/
.stick-top {
  width: 100%;
  padding: 5px;
}

#power {
  display: inline-block;
  float: left;
}

#strict {
  display: inline-block;
  float: left;
}

#counter {
  border: 1px solid black;
  display: inline-block;
  margin: 0 auto;
}

.game-field {
  height: 100%;
}

.c-left {
  height: 90%;
  width: 30%;
  display: inline-block;
}

.c-right {
  position: relative;
  display: inline-block;
  text-align: center;
  height: 90%;
  width: 70%;
}

/*-------------------Game-Buttons----*/
.base {
  position: relative;
  width: 150px;
  vertical-align: middle;
  margin: 0 auto;
  margin-top: 2%;
  transform: rotate(45deg);
}

.game-button {
  position: absolute;
  width: 72px;
  height: 72px;  
  border-radius: 50%;
}

#button-red {
  background-color: red;
  top: 0;
  left: 0
}

#button-blue {
  background-color: blue;
  top: 0;
  right: 0;
}

#button-green {
  background-color: green;
  bottom: 0;
  left: 0;
}

#button-yellow {
  background-color: yellow;
  bottom: 0;
  right: 0;
}

/*----mobile-small----*/
@media only screen and (min-width: 320px) {
  .base {
    width: 150px;
    height: 150px;
    margin: 0 auto;
    margin-top: 10%;
  }
}

/*----mobile-large----*/
@media only screen and (min-width: 425px) {
  .base {
    width: 150px;
    height: 150px;
    margin: 0 auto;
    margin-top: 8%;
  }
}
/*----tablet----*/
@media only screen and (min-width: 768px) {
  .outer {
  position: relative;
  height: 70vh;
  width: 70vw;
  margin: auto;
  border: 1px solid black;
  }

  .base {
    width: 150px;
    height: 150px;
    margin: 0 auto;
    margin-top: 5%;
  }
}

/*----laptop-large----*/
@media only screen and (min-width: 1440px) {
  .base {
    width: 50%;
    margin: 0 auto;
    margin-top: 2%; 
  }
}

